# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.elf

# Debug files
*.dSYM/
*.su

# Archives
*.tar
*.bz2
*.gz

# Build directory
build/*
!build/make_bootbin.sh

results/
xillinx_source/

*rc.local
*etc_network_interfaces

# Dev directory


# Linux directory
linux/*
!linux/*.sh

# Tools directory
tools/*

# Log Files
*.log
*.jou
*.str

*.mod.c
*.o.cmd
.*
*.symvers
*.order
*.mod

